
body {
  background: #473E3F;
}

.custom1 {
  background: #EF7126;
}

.custom2 {
  background: #F9E559;
}

.custom3 {
  background: #218C8D;
}

.custom4 {
  background: #5BB12F
}

.custom5 {
  background: #2F8F75;
}

.custom6 {
  background: #EE8D09;
 
}

.custom7 {
  background: #4DC5D6;
}


