
.custom1 {
  background: #E05151;
}

.custom2 {
  background: #9B539C;
}

.custom3 {
  background: #EE8D09;
}

.custom4 {
  background: #5BB12F
}

.custom5 {
  background: #2F8F75;
}

body {
  background: #73C5E1;
}