<% content_for :title do %>Hanlon DashBoard<% end %>
	


<div class="gridster">
  <ul>
    
	

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="4" >
      <div data-id="configList" data-view="List" data-unordered="true" data-title="Config" data-moreinfo="" class="custom1"></div>
    </li>

	<li data-row="1" data-col="1" data-sizex="2" data-sizey="3" >
      <div data-id="nodesList" data-view="Clist" data-unordered="true" data-title="Nodes" data-moreinfo="" class="custom2"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="3" >
      <div data-id="activeModelList" data-view="Clist" data-unordered="true" data-title="Active Model" data-moreinfo="" class="custom3"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="imageList" data-view="Clist" data-unordered="true" data-title="Image List" data-moreinfo="" class="custom4"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="4" data-sizey="2">
      <div data-id="policyList" data-view="Cclist" data-unordered="true" data-title="Policy" data-moreinfo="" class="custom5"></div>
    </li>


  </ul>
  
</div>

